// Define variables for your color scheme

// For example:
$red: #75002C;
$blue: #212759;
$dark-blue: #1B2049;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #5B616A;
$light-gray: #D7CEB2;
