<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#" style="font-size: 16px">Nous contacter</a>
  </div>
  <div class="footer-address">
    <p>Atelier Letan Blestel<br>172 Rue des Chênes,<br>50110 Cherbourg-en-Cotentin</p>
  </div>
  <div class="footer-links">
    <a href="#" style="font-size: 16px">Made with <i class="fas fa-heart"></i> by EMMROSE </a>
  </div>
</div>
