<div class="footer">
  <div class="footer-links">
    <%= link_to new_user_session_path do %>
      <%= image_tag "logolb.png" %>
    <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="<%=new_contact_path%>" style="font-size: 16px">Nous contacter</a>
  </div>
  <div class="footer-address">
    <p>Atelier LB<br>172 Rue des Menuisiers,<br>50260 Le Chêne</p>
  </div>
  <div class="footer-links">
    <a href="#" style="font-size: 16px">Made with <i class="fas fa-heart"></i> by EMMROSE </a>
  </div>
</div>
