<div class="footer">
  <div class="footer-links">
    <%= link_to new_user_session_path do %>
      <%= image_tag "wood.png" %>
    <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/emmanuel.rose.18/"><i class="fab fa-facebook"></i></a>
    <a href="<%=new_contact_path%>" style="font-size: 16px">Nous contacter</a>
  </div>
  <div class="footer-address">
    <p>Atelier Menuisier<br>172 clos du Bois,<br>50260 Le Chêne</p>
  </div>
  <div class="footer-links">
    <a href="https://emrose.herokuapp.com/" style="font-size: 16px">Made with <i class="fas fa-heart"></i> by EMROSE </a>
  </div>
</div>
