<div class="footer">
  <div class="footer-links">
    <%= link_to new_user_session_path do %>
      <%= image_tag "logolb.png" %>
    <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Atelier-Letan-Blestel-102242521191059/?__tn__=kC-R&eid=ARAPwvqA5DqWdC0CWg9vfDKkLZcM4zdtD1Q0zB5-n1MmLZLSxWxosm00VbPm_3el2bop299MtTezHfrh&hc_ref=ARTgVfrjIgrwx9Pb524AvuamrFYRmQ1hv6bWWbX11TI6coYc3JXfFsOeSggqoD_cdA8&fref=nf&__xts__[0]=68.ARCis8O7gDmjwIzvrDp3sasBZZV4dHW8Bzh9y-kSjo3fNd_su_t-AdrgWpAhD3JF3IvLIjdZhxjtPDKLhkEjFKm5nSwPp7b0HhcAG77DaX8mf3teTxcdG0vEVsPsWp7sASSz4J7JRV9p58SH3DiXmtD-6dIMqlIPpOsLyAYqB8QqRUa7zHuwerxtQHg5kuOgOxXI8UrAV8vb8944k_Wb18o0NHyTjwl_EwFE9IH9q3NofQxRD7RHHgHrz1u4ztd82xwxZ4bXaHfdGsSpYPD_hXiL525ZIq7dRTmC55fdqjkRw6xoD2H_fLMvztSOZll6CIsNyLH2B0vFXA47BSpH794"><i class="fab fa-facebook"></i></a>
    <a href="<%=new_contact_path%>" style="font-size: 16px">Nous contacter</a>
  </div>
  <div class="footer-address">
    <p>Atelier LB<br>172 Rue des Menuisiers,<br>50260 Le Chêne</p>
  </div>
  <div class="footer-links">
    <a href="#" style="font-size: 16px">Made with <i class="fas fa-heart"></i> by EMMROSE </a>
  </div>
</div>
