<div class="container">
  <br><br>
  <h2>L'Atelier Menuisier</h2>
  <br>
  <p>"Cette page est dédiée à l'histoire et la communication de l'entreprise afin d'illustrer le savoir-faire et la qualité de son travail. Cette page permet également d'être un espace de communication pour des demandes de devis et des offres d'emplois."</p>
  <br><br>
  <div class="about-bottom">
    <span id="illustration-workshop"><img src="../assets/atelier2.jpg" alt="notre atelier"></span>
    <div>
      <h2>Nous recrutons :</h2>
      <p>Transmettez nous votre candidature en cliquant ici</p>
      <button type="button" class="btn-contact" id="btn-modal" data-toggle="modal" data-target="#exampleModal">
        Postulez
      </button>
    </div>
  </div>
</div>

