#contact-creation-modal .modal-body {
  padding: 0px;
}

.form-content {
  background-color:rgba(72,72,72,0.6);
  font: Helvetica;
  color: white;
}

.form-container {
  border-radius: 5px;
  padding: 0px;
}

.form-container .form-top {
  padding: 1rem 30px 1rem 30px;
}

.form-container .form-button {
  margin: 50px 390px;
}

.signin-form-content {
  margin: 50px 400px;
  background-color: white;
}



.modal-dialog {
  max-width: 600px!important;
}

.form-container .algolia-places {
  width: 100%;
  margin-bottom: 1rem;
}

.form-container .btn-submit {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
}

.activity-choice svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.activity-choice.active svg {
  fill: white;
}

.form-check-label-activity {
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  height: 69px;
}

.close {
  color: white;
  &:hover {
    color:white!important;
  }
}

.new-sesh .btn-gom {
  border-radius: 0px;
  font-family: "Poppins";
  font-size: 20px;
}

.new-sesh .rider-count {
  padding: 8px 40px;
  border-left: solid;
  font-size: 24px;
}
