.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-shadow {
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar {
  .search {
  flex-grow: 1;
  }
  .search-input {
  width: 50%;
  display: inline-block;
  }
  .navbar-btn {
    background-color: $blue;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
  }
  .white-btn {
    color: white;
    border-color: white;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.fa-search {
  color: white!important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar .search-input {
      width: 80%;
      display: inline-block;
  }
  .fa-search {
    margin-left: 2px;
  }
}

// Medium device
@media (min-width: 665px) and (max-width: 812px) {
  .navbar-nav {
    width: 280px;
  }
}

// Medium large
@media (min-width: 813px) {
  .navbar-nav {
    width: 330px;
  }
}
